<html>
    <body>
      <form class='container' action="/viz/" method="post">
        {% csrf_token %}
        <div class='field' id='username'>{{form.username.label}} {{form.username}}</div>
        <div class='field' id='chart_type'>{{form.chart_type.label}} {{form.chart_type}}</div>
        <div class='field' id='x_axis'>{{form.x_axis.label}} {{form.x_axis}}</div>
        <div class='field' id='y_axis'>{{form.y_axis.label}} {{form.y_axis}}</div>

        <br><br>

        <input type="submit" value="Render">
      </form>

      <script>
        document.getElementById('chart_type').addEventListener('change', (event) => {
          if (event.target.value == 'dist') {
            document.getElementById('y_axis').style.display = 'none';
          }
          else {
            document.getElementById('y_axis').style.display = '';
          }
        })
      </script>

      <style>
        body {
          background-color: #282828;
        }

        .container {
          text-align: center;
          max-height: 100%;
          max-width: 95vw;
          width: auto;
          offset: auto;
          transform: translate(0%, 50%);
        }

        .field {
          color: white;
        }
      </style>

    </body>
</html>
