<html>
    <body>
      <form action="/viz/render">
        <label for="username">BGG Username:</label>
        <input id="username" type="text">

        <br><br>

        <label for="x-axis">X-axis:</label>
        <select name="x-axis" id="x-axis">
          <option value="maxplayers">Max Players</option>
          <option value="playtime">Year Published</option>
        </select>

        <label for="y-axis">Y-axis:</label>
        <select name="y-axis" id="y-axis">
          <option value="maxplayers">Max Players</option>
          <option value="playtime">Year Published</option>
        </select>

        <input type="submit" value="Render">

      </form>


        <div>
            {% load static %}
            <img class='chart' src='{% static "viz/test.png" %}' alt='a test graph'>
        </div>

        <script>
        </script>

        <style>
            .chart {
                max-height: 100%;
                max-width: 95vw;
                width: auto;
            }
        </style>

    </body>
</html>
