<html>
    <body>
        <header>A CALCULATOR</header><br>

        <label for="input">Input:</label>
        <input placeholder="Enter formula here" id="input">
        <button onclick="getValue();">Calculate</button>
        <p>Output: <span id="output">0</span></p>

        <script>
            function getValue() {
                let input = document.getElementById("input");
                input.addEventListener("keyup", function(event) {
                    if (event.keyCode == 13) {
                        let value = input.value;
                        document.getElementById("output").innerHTML = value;
                    }
                })
            }
        </script>
    </body>
</html>