<html>
    <body>
        <header>A CALCULATOR</header><br>

        <label for="input">Input:</label>
        <input type="text" placeholder="Enter formula here" id="input" name="input">
        <button type="button" onclick="getValue();">Calculate</button>
        <p>Output: <span id="output">0</span></p>

        <script>
            function getValue() {
                let value = document.getElementById("input").value;
                document.getElementById("output").innerHTML = value;
            }
        </script>
    </body>
</html>